<section id="about">
    <div class="container">
        <h2><strong>About me:</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/me.jpg" alt="profilnaSlika" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/mziko/" rel="tooltip" target="_blank"  title="Linkedin link">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/mziko2" rel="tooltip" target="_blank" title="GitHub link" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <p class="font-italic">
                    Let me introduce myself. My name is Mirza. I am Software Engineer curently working in <a href="https://zira.com.ba/">Zira.</a>
                    I am 22 years old and I am on the last year on Faculty Of Electircal Engineering. I grew my love for programing since my
                    primary school where I was going on competition in programming where I got great results. From there I enrolled in High School of Electrical Engineering
                    in Sarajevo where I went to the direction of telecommunications electrician. After that I enrolled in the Faculty of Electrical Engineering,
                    majoring in software development.  
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Mirza Žiko</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Sarajevo, Bosnia and Herzegovina</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="#contact">
                                        mirza.ziko@outlook.com</a></strong>
                            </li>
                       

                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 15 May 1999</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Udergraduated</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> 1 Year </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>